{% set title = "관리자 리스트" %}
{% extends "layout/base.html" %}

{% block content -%}
    <table class="table table-bordered table-hover">
        <tr>
            <th>제품 ID</th>
            <th>카테고리</th>
            <th>이름</th>
            <th>QR Link</th>
            <th>Image link</th>
            <th>제품 설명</th>
        </tr>

        {% for product in products %}
        <tr>
            <td>
                <a href="/admin/products/detail/{{  product.product_id }}">{{ product.product_id }}</a>
            </td>
            <td> {{ product.category_id }}</td>
            <td> {{ product.name }}</td>
            <td> {{ product.qrlink }}</td>
            <td> {{ product.imglink }}</td>
            <td> {{ product.description }}</td>
            <td>
                <a href="/admin/products/delete/{{product.id}}" 
                class="btn btn-danger" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/admin/products/write" class="btn btn-default">작성하기</a>

{% endblock %} 