{% set title = "관리자 리스트" %}
{% extends "layout/base.html" %}

{% block content -%}
    <table class="table table-bordered table-hover">
        <tr>
            <th>product_id</th>
            <th>category</th>
            <th>name</th>
            <th>provider_id</th>
            <th>retail_price</th>
            <th>location</th>            
            <th>description</th>
            <th>img_path</th>
            <th></th>
        </tr>

        {% for product in products %}
        <tr>
            <td>
                <a href="/admin/admin_products/detail/{{  product.product_id }}">
                    {{ product.product_id }}</a>
            </td>
            <td> {{ product.category }}</td>
            <td> {{ product.name }}</td>
            <td> {{ product.provider_id }}</td>
            <td> {{ product.retail_price }}</td>
            <td> {{ product.location }}</td>
            <td> {{ product.description }}</td>
            <td> {{ product.img_path }}</td>
            <td>
                <a href="/admin/admin_products/delete/{{product.product_id}}" 
                class="btn btn-danger" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/admin/admin_products_write" class="btn btn-default">작성하기</a>

{% endblock %} 